* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--accent-color) rgba(0, 0, 0, 0) !important;
  outline: none;
  -webkit-tap-highlight-color: transparent !important;
}
*::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}
*::-webkit-scrollbar-thumb {
  background: var(--accent-color) !important;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0) !important;
}
*, *::before, *::after {
  transition-duration: var(--hover-duration);
  transition-timing-function: ease-in-out;
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--bg-lite);
  background: var(--accent-color);
}

::selection {
  color: var(--bg-lite);
  background: var(--accent-color);
}

button, h1 {
  all: unset;
}

a, a:visited {
  color: var(--text-color-darker);
  text-decoration: none;
}
a:hover {
  color: var(--text-color);
}

html {
  --global-duration: 0.2s;
  --hover-duration: 0.1s;
  --mono: 'JetBrains Mono', monospace;
  font-size: 62.5%;
}
@media screen and (max-width: 767.98px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 639.98px) {
  html {
    font-size: 53.125%;
  }
}
@media screen and (max-width: 399.98px) {
  html {
    font-size: 2svw;
  }
}
html, html body {
  height: 100%;
  width: 100%;
}
html body {
  font-size: 1.6rem;
  font-family: var(--mono);
  margin: 0;
  padding: 0;
  background: var(--bg-deep);
  color: var(--text-color);
}
html body.noduration {
  --global-duration: 0s;
  --hover-duration: 0s;
}

body > .content {
  height: 100%;
  width: 100%;
  background: var(--bg-deep);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > .content > form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6rem);
  max-width: 640px;
}
body > .content > form .logo {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}
body > .content > form .logo > span:first-of-type {
  font-weight: 700;
  color: var(--accent-color);
}
body > .content > form .logo > span:first-of-type::-moz-selection {
  color: var(--bg-deep);
}
body > .content > form .logo > span:first-of-type::selection {
  color: var(--bg-deep);
}
body > .content > form .logo > span:last-of-type {
  font-weight: 300;
  font-size: 3rem;
  color: var(--text-color-darker);
}
body > .content > form .subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--text-color-darker);
  text-transform: uppercase;
  margin-bottom: 4rem;
}
body > .content > form .shorten {
  --_padding: 1.4rem;
  --_height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  border: 1px solid transparent;
  width: calc(100% + 2px);
  transform: translateX(-1px);
}
body > .content > form .shorten > span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-lite);
  padding: 0 var(--_padding);
  height: var(--_height);
  color: var(--accent-color);
  border: 1px solid var(--border-color);
  border-right: 0;
  position: relative;
}
body > .content > form .shorten > span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background: var(--border-color);
  right: -1px;
}
body > .content > form .shorten > input[type=text] {
  font-family: inherit;
  font-size: inherit;
  color: var(--text-color);
  background: var(--bg-lite);
  padding: 0 var(--_padding);
  height: var(--_height);
  border: 0;
  width: 1px;
  flex: 1 0 auto;
  border: 1px solid var(--border-color);
  border-left: 0;
  border-right: 0;
}
body > .content > form .shorten > button {
  padding: 0 var(--_padding);
  height: var(--_height);
  color: var(--bg-deep);
  background: var(--accent-color);
  font-size: 1.248rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
body > .content > form .shorten > button[type=qr] {
  background: var(--accent-lite);
}
body > .content > form .shorten > button[type=copy] {
  background: var(--accent-deep);
}
body > .content > form .shorten, body > .content > form .shorten > span, body > .content > form .shorten > input[type=text] {
  transition-duration: var(--global-duration);
  transition-timing-function: ease-in-out;
}
body > .content > form .shorten:has(input[type=text]:focus-within), body > .content > form .shorten:has(input[type=text]:focus-within) > span, body > .content > form .shorten:has(input[type=text]:focus-within) > input[type=text] {
  border-color: var(--accent-color);
}
body > .content > form .expires {
  --_height: 3rem;
  --_padding: .75rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--text-color-darker);
}
body > .content > form .expires span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--_height);
}
body > .content > form .expires > span {
  padding: 0 var(--_padding) 0 0;
}
body > .content > form .expires > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  border-right: 1px solid var(--border-color);
}
body > .content > form .expires > div > span {
  border: 1px solid var(--border-color);
  border-right: 0;
  padding: 0 var(--_padding);
  cursor: pointer;
}
body > .content > form .expires > div > span:hover {
  background: var(--bg-lite);
  color: var(--text-color);
}
body > .content > form .expires > div > span {
  position: relative;
}
body > .content > form .expires[data-selected="10M"] > div > span[data-value="10M"] {
  color: var(--bg-deep);
  background: var(--accent-color);
}
body > .content > form .expires[data-selected="1H"] > div > span[data-value="1H"] {
  color: var(--bg-deep);
  background: var(--accent-color);
}
body > .content > form .expires[data-selected="1D"] > div > span[data-value="1D"] {
  color: var(--bg-deep);
  background: var(--accent-color);
}
body > .content > form .expires[data-selected="1W"] > div > span[data-value="1W"] {
  color: var(--bg-deep);
  background: var(--accent-color);
}
body > .content > form .expires[data-selected="2W"] > div > span[data-value="2W"] {
  color: var(--bg-deep);
  background: var(--accent-color);
}
body > .content > form .expires[data-selected="1M"] > div > span[data-value="1M"] {
  color: var(--bg-deep);
  background: var(--accent-color);
}
body > .content > form .expires[data-selected="6M"] > div > span[data-value="6M"] {
  color: var(--bg-deep);
  background: var(--accent-color);
}
body > .content > form .expires[data-selected="1Y"] > div > span[data-value="1Y"] {
  color: var(--bg-deep);
  background: var(--accent-color);
}
body > .content > form .expires[data-selected=N] > div > span[data-value=N] {
  color: var(--bg-deep);
  background: var(--accent-color);
}
body > .content > form .anew {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}
body > .content:not(.shortened) .output, body > .content:not(.shortened) .anew {
  display: none;
}
body > .content.shortened .input, body > .content.shortened .expires {
  display: none;
}

footer {
  margin-top: 10rem;
  font-size: 1.2rem;
  color: var(--text-color-darker);
}/*# sourceMappingURL=main.css.map */